<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.24/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<!--This is header Part Start -->
<header></header>

<!--This is header Part End -->

<!--This is Main Part Start -->
<main>
    <h1 class="mx-auto justify-center text-center font text-2xl font-bold">This is home page</h1>

<a href="products">Go to product</a>


     <h1 class="mx-auto justify-center text-center font text-2xl font-bold">Category</h1>

{% load static %}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-4">
  {% for i in categories %}
  <div class="card bg-gray-50 shadow-sm w-full">
    <figure class="bg-white p-2">
      {% if i.category_image %}
        <img src="{{ i.category_image.url }}" alt="{{ i.name }}" class="w-full h-48 object-contain" />
      {% else %}
        <img src="{% static 'images' %}" alt="No Image" class="w-full h-48 object-contain" />
      {% endif %}
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{ i.name }}</h2>
      <div class="card-actions justify-end">
       <a href="{% url 'category_products' i.slug %}" class="btn btn-primary">View Products</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</main>

<!--This is Main Part End -->

<!--This is footer Part Start -->
<footer></footer>

<!--This is footer Part Start -->


</body>
</html>