<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product section</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.24/dist/full.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header>
    
    
</header>

<main class="w-4/5 mx-auto">
    <h1 class="mx-auto justify-center text-center font text-2xl font-bold">This is Product page</h1>

     <!-- Product code start -->
 <h1 class="mx-auto justify-center text-center font text-2xl font-bold">Products</h1>

 {% load static %}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4 p-4 ">
  {% for i in products %}
  <div class="card bg-base-100 shadow-sm w-full ">
    <figure>
      {% if i.image %}
        <img class="rounded-2xl p-5" src="{{ i.image.url }}" alt="{{ i.name }}" class="w-full h-48 object-contain" />
      {% else %}
        <img src="{% static 'images' %}" alt="No Image" class="w-full h-48 object-contain" />
      {% endif %}
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{ i.name }}</h2>
      <p>{{ i.price }} BDT</p>
      <div class="card-actions justify-between">
        <button class="btn btn-primary bg-black border-none">Add to Cart</button>
          <button class="btn btn-primary">Buy Now</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>



    <!-- Product code End -->
</main>

<footer></footer>
</body>
</html>